In [2]:
import pandas as pd
import datetime

In [7]:
base = datetime.datetime.today()
numdays = 7
date_list0 = [base - datetime.timedelta(days=x) for x in range(numdays)]
date_list1 = [base - datetime.timedelta(days=x+1) for x in range(numdays)]
num_list0 = [11,22,33,44,55,66,77]
num_list1 = [22,33,44,55,66,77,88]
d0 = pd.DataFrame(list(zip(date_list0, num_list0)), columns = ['Date','Val' ])
d1 = pd.DataFrame(list(zip(date_list1, num_list1)), columns = ['Date','Val' ])

In [16]:
d2 = pd.merge(d0, right=d1, how = 'outer')
d2

                        Date  Val
0 2022-09-29 13:27:52.403140   11
1 2022-09-28 13:27:52.403140   22
2 2022-09-27 13:27:52.403140   33
3 2022-09-26 13:27:52.403140   44
4 2022-09-25 13:27:52.403140   55
5 2022-09-24 13:27:52.403140   66
6 2022-09-23 13:27:52.403140   77
7 2022-09-22 13:27:52.403140   88

In [15]:
d0

                        Date  Val
0 2022-09-29 13:27:52.403140   11
1 2022-09-28 13:27:52.403140   22
2 2022-09-27 13:27:52.403140   33
3 2022-09-26 13:27:52.403140   44
4 2022-09-25 13:27:52.403140   55
5 2022-09-24 13:27:52.403140   66
6 2022-09-23 13:27:52.403140   77

In [4]:
idx = [x+1 for x in range(4)]
x = ["12", "1.2", "1.0", "28.0"]

tbl = pd.DataFrame(list(zip(idx, x)), columns = ['index','X'])

In [10]:
tbl.X

0      12
1     1.2
2     1.0
3    28.0
Name: X, dtype: object